// font
$UF: 'Ubuntu';
$EF: 'Exo2';

// color
// white
$w01: #ffffff;
$w02: #fbfbfb;
$w03: #fafafa;

// gray
$g01: #f2f2f2;
$g02: #6c6c6c;
$g03: #e0e0e0;
$g04: #b4b4b4;
$g05: #e1e1e1;
$g06: #f2f2f2;
$g07: #6d6d6d;
$g08: #6c6d6d;
$g09: #ddd;
$g10: #b2b2b2;

// blue
$b: #005574;

// orange
$o: #ffa807;

// black
$bl: #000000;

//red
$r: #b13030;