.ordering-table {

    &__header {
        color: $g10;
    }

    &__row {
        display: table;
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $g03;

        &:first-child {
            border-top: 1px solid #e0e0e0;
        }

        &:nth-child(odd) {
            background-color: $w03;
        }

        &:nth-child(even) {
            background-color: $w01;
        }

    }

    &__cell {
        display: table-cell;
        border-right: 1px solid $g03;
        padding-left: 20px;

        &::selection {
            background: none;
        }

        &:last-child {
            border-right: 0;
        }

    }

    &__cost {
        width: 100px;
        font-weight: 900;

        &--thin-font {
            font-weight: 500;
        }

    }

    &__speed {
        width: 100px;
    }

    &__valuation {
        width: 70px;
        position: relative;
    }

    &__checkbox {
        display: none;

        &:checked + label {
            
            &:before {
                content: '';
                border: 6px solid #000;
                width: 6px;
                height: 6px;
                display: block;
                border-radius: 10px;
                margin-left: -1px;
                margin-top: -1px;
            }

        }

    }

    &__label {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: $w01;
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px $g03;
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    &__text-for-label {
        display: inline;

        &::selection {
            background: none;
        }

    }

    &__location {
        color: $b;
    }

    &__bottom {
        padding: 10px;

        @include clearfix

    }

}